/* ---------------------------------
    COLORS
 ----------------------------------- */
$color-black: #000;
$color-offblack: #111111;
$color-white: #fff;
$color-red: #eb516d;

/* ---------------------------------
    BREAKPOINTS
 ----------------------------------- */
 $sm-breakpoint: 576px;
 $md-breakpoint: 768px;
 $lg-breakpoint: 992px;
